section > * { margin-left: 0 }

.container-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bono, .edge, .adam, .larry {
    padding: 20px;
	margin-bottom: 42px;
    /*width: 220px;*/
    width: 22%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex-basis: 22%;
    border-radius: 15px;
}

.bono p, .edge p, .adam p, .larry p{
    /*remove this to center in the box*/
    flex-grow: 1;
}

/* Headings */
.bono h3, .edge h3, .adam h3, .larry h3 {
    font-size: var(--font-size-md);
	line-height: 1.2;
    margin-bottom: 2px;
}

/* Paragraphs of text */
.bono p, .edge p, .adam p, .larry p {
    font-size: var(--font-size-base);
    line-height: 1.7
}

.bono { background-color: #4081ec }
.edge { background-color: #ffbb33 }
.adam { background-color: #f73345 }
.larry { background-color: #e0e0e0 }

.bono h3, .bono p,
.adam h3, .adam p { color: #fff }

.edge h3, .edge p { color: #000 }
.larry h3, .larry p { color: #000 }

@media (max-width: 767px){
    .container-flexbox{
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .bono, .edge, .adam, .larry {
        margin: 10px;
        width: 90%;
    }
}
.back{
    text-align: center;
    padding-bottom: 50px;
}

button{
    padding:9px 16px;
    background-color: lightgreen;
    color: black;
    margin-top: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: pink;
    color: white;
}

button:active{
    background-color: blue;
    color: white;
}

.bono img, .edge img, .adam img, .larry img {
    width: calc(100% + 40px);
    margin: -20px -20px 16px -20px;
    border-radius: 15px 15px 0 0;
}

